@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other custom styles for the App component */

/* Example custom styles */
.bg-background {
  background-color: #e0f2fe;
}

.text-primary {
  color: #1e3a8a;
}

.bg-night {
  background-color: #1a202c;
}

.text-light {
  color: #f7fafc;
}

/* Dark mode styles */
.dark .bg-background {
  background-color: #1a202c;
}

.dark .text-primary {
  color: #f7fafc;
}