@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other custom styles for the App component */
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Example custom styles */
.bg-background {
  background-color: #e0f2fe;
  transition: background-color 0.5s ease-in-out;
}

.text-primary {
  color: #1e3a8a;
  transition: color 0.5s ease-in-out;
}

.bg-night {
  background-color: #1a202c;
  transition: background-color 0.5s ease-in-out;
}

.text-light {
  color: #f7fafc;
}

/* Dark mode styles */
.dark .bg-background {
  background-color: #1a202c;
  transition: background-color 0.5s ease-in-out;
}

.dark .text-primary {
  color: #f7fafc;
}

/* Margin color */
.margin-color {
  background-color: #90c5fd;
}

/* Hide margin on small screens */
/* App.css */

:root {
  --navbar-height: 64px; /* Adjust this value based on your navbar height */
}

#about-me,
#projects,
#contact {
  padding-top: var(--navbar-height);
  margin-top: -var(--navbar-height); /* Negative margin to offset the padding */
}

/* Other styles */